header{
    width: 11%;
    height: 100vh;
    background-color: antiquewhite;
    position: fixed;
}

.head-menu{
    font-family: 'Press Start 2P', cursive;
    color: rgb(252, 246, 238);
    text-shadow: 2.5px 2.5px #000;
    margin-left: 45px;
    margin-top: 50px;
    font-size: 20px;    
    height: 90px;
}

.header-nav{
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav.-a a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgb(245, 198, 137);
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(238, 204, 160);
}

.home-nav{
    border-top: 2px solid rgb(238, 204, 160);
}

.redes-sociais{
    margin-top: 230px;
    text-align: center;
}

.redes-sociais a{
    color: rgb(238, 204, 160);
    margin-left: 10px;
}