.text-zone{
    margin-top: 200px;
    margin-left: 30px;
}

.text-zone h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 65px;
    color: rgb(245, 198, 137);
}

.blast-root :hover{
    display: inline-block;
    animation: pulse-title 1s ease-in-out;
}

@keyframes pulse-title{
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.3, 0.6);
    }

    50% {
        transform: scale(1, 0.7);
    }
    100% {
        transform: scale(1, 1);
    }
}

.gray-text{
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px;
    margin-top: 1.5rem;
    display: block;
    color: #4e4e4e;
}

.downloadcv{
    text-decoration: none;
    background-color: rgb(238, 204, 160);
    color: #4e4e4e;
    padding: 15px;
}

.text{
    margin-bottom: 60px;
}